@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "./flatpicker.css";
@import "./select2_secondary.css";
@import "./select2_light.css";

@theme {
    --color-dark: #161616;
    --color-light: #F2F1ED;
    --color-primary: #7B0005;
    --color-secondary: #D2B48C;
    --color-hovered: rgba(209, 213, 220, 0.25);
    --font-montserrat: 'Montserrat', sans-serif;
}

@source "../views";